target
/*.jar
/annotador-core/dependency-reduced-pom.xml
/annotador-core/nbactions.xml
/annotador-core/src/main/java/oeg/tagger/core/data/FileCENDOJ.java
/annotador-core/src/main/java/oeg/tagger/core/time/tictag/TicTag.java
/annotador-core/src/main/java/oeg/tagger/core/time/tictag/TicTagOld.java
/annotador-core/src/main/java/oeg/tagger/core/time/tictag/TicTagRule.java
/annotador-core/src/main/java/oeg/tagger/core/time/tictag/TicTagRules.java
/annotador-core/src/main/java/oeg/tagger/core/time/tictag/TimeAnnotatorCoreNLP.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorCENDOJ.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorDE2NIF.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorEN.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorES.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorES2File.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorES2NIF.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorESTXT.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorSoco.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorSyntES.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorTempEval2.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorTempEval2TRAIN.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialAnnotadorTempEval3ES.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialENfromTXT.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialENtoTXT.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialESP.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialESPfromTXT.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialESPfromTXTBRAT.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialESPfromTXTJSON.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/annotador/TutorialESPfromTXTTIMEX.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/tictag/TutorialTicTag.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/tictag/TutorialTicTagAnnotate.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/tictag/TutorialTicTagTempEval3EN.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/tictag/TutorialTicTagTempEval3ES.java
/annotador-core/src/main/java/oeg/tagger/core/tutorial/tictag/TutorialTicTagTimeBank.java
/annotador-core/src/main/java/oeg/tagger/corpus/Ann2TIMEX.java
/annotador-core/src/main/java/oeg/tagger/corpus/AnnotationExcel.java
/annotador-core/src/main/java/oeg/tagger/corpus/ExcelReader.java
/annotador-core/src/main/java/oeg/tagger/corpus/HeidelSyntES.java
/annotador-core/src/main/java/oeg/tagger/corpus/SUTIME2Synth.java
/annotador-core/src/main/java/oeg/tagger/corpus/SUTIME2TempEval2.java
/annotador-core/src/main/java/oeg/tagger/corpus/curlSUTIME.java
/annotador-core/src/main/java/oeg/tagger/corpus/curlSUTIMETE2.java
/annotador-core/src/main/java/oeg/tagger/corpus/meantime2timex3.java
/annotador-core/src/main/java/oeg/tagger/corpus/meantimefromNAF.java
/annotador-core/src/main/java/oeg/tagger/corpus/plain2tempevalTab.java
/annotador-core/src/main/java/oeg/tagger/corpus/tempevalTab2plain.java
/annotador-core/src/main/java/oeg/tagger/corpus/tempevalTab2plainKey.java
/annotador-core/src/main/java/oeg/tagger/corpus/tempevalTab2plainKeyDCT.java
/annotador-core/src/main/java/oeg/tagger/corpus/tempevalTab2plainXML.java
/annotador-core/src/main/java/oeg/tagger/corpus/tempevalTab2plainXMLwDCT.java
/annotador-core/src/main/java/oeg/tagger/corpus/tempevalTabTRAIN2plain.java
/annotador-core/src/main/java/oeg/tagger/corpus/tempevalTabTRAIN2plainKeyDCT.java
/annotador-core/src/main/java/oeg/tagger/corpus/tempevalTabTRAIN2plainXML.java
/annotador-core/src/main/java/oeg/tagger/corpus/translateSUTIME.java
/annotador-core/src/main/java/oeg/tagger/rulemanager/ReaderCoreNLP.java
/annotador-core/src/main/java/oeg/tagger/rulemanager/ReaderTest.java
/annotador-core/src/main/java/oeg/tagger/rulemanager/RuleCoreNLP.java
/annotador-core/src/main/java/oeg/tagger/rulemanager/RuleDocumentReader.java
/annotador-core/src/main/java/oeg/tagger/rulemanager/luceneTest.java
